# Зависимости
node_modules/

# Файлы сборки
/.next/
/out/
/build

# Локальные переменные окружения
.env*.local
.env

# Кэш
.vercel
.turbo

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Сгенерированные типы TypeScript
*.tsbuildinfo
next-env.d.ts

# PWA файлы
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map
